@model PersonalWebsite.Models.blogVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Journey into Game Development and Freelance Web Development";
}

<script type="text/javascript">
    $(document).ready(function () {
        const mySearchChip = document.getElementById('searchByTag')

        if (mySearchChip != null) {
            mySearchChip.addEventListener('removed.coreui.chip', event => {
                location.href = '@Url.Action("Index", "Blog")';
            })
        }

        const mySearchAuthorChip = document.getElementById('searchByAuthor')

        if (mySearchAuthorChip != null) {
            mySearchAuthorChip.addEventListener('removed.coreui.chip', event => {
                location.href = '@Url.Action("Index", "Blog")';
            })
        }

        const tagContainer = document.querySelectorAll('.chipTagContainer');
        for (var j = 0; j < tagContainer.length; j++) {
            var chips = tagContainer[j].querySelectorAll('.chip');

            for (var i = 0; i < chips.length; i++) {
                var innerText = chips[i].innerText;
                chips[i].myParam = innerText;
                chips[i].addEventListener('selected.coreui.chip', function (e) {
                    setTag(e.currentTarget.myParam);
                });
            }
        }
    });

    function setTag(innerText) {
        location.href = ('@Url.Action("SearchByTag", "Blog")?tags=' + innerText);
    }

    function changePages(pageNumber) {
        var authorExists = '@Html.Raw(Json.Encode(Model.searchByAuthor != null))';
        var tagExists = '@Html.Raw(Json.Encode(Model.searchByTag != null))';

        if (authorExists === 'true') {
            var authorId = '@Html.Raw(Json.Encode(Model.searchByAuthorId))';
            location.href = ('@Url.Action("SearchByAuthor", "Blog")?authorId=' + authorId + "&pageNumber=" + pageNumber);
        }
        else if (tagExists === 'true') {
            var innerText = document.getElementById('searchByTag').innerText;
            location.href = ('@Url.Action("SearchByTag", "Blog")?tags=' + innerText + "&pageNumber=" + pageNumber);
        }
        else {
            location.href = ('@Url.Action("Index", "Blog")?pageNumber=' + pageNumber);
        }
    }

    function doPreprocessing() {
        var tags = document.getElementById("blogTags");
        var chips = tags.querySelectorAll("span");
        var tagString = document.getElementById("stringTags");
        tagString.value = "";

        for (var i = 0; i < chips.length; i++) {

            tagString.value += chips[i].innerText + ",";
        }
        tagString.value = tagString.value.slice(0, -1);
    }

    function editEntry(id) {

    }

    function deleteEntry(id) {
        if (confirm("Are you sure you want to delete this blog entry?")) {
            const url = '@Url.Action("Delete", "Blog")';

            fetch(url, {
                method: "POST",
                headers: { 'Content-Type': 'application/json; charset=utf-8' },
                body: JSON.stringify({ id: id })
            })
                .then(response => {
                    return response.json()
                        .then(data => {
                            if (data.message != "Success") {

                            }
                            else {
                                location.reload();
                            }
                        });
                });
        }
    }
</script>

<main aria-labelledby="title">
    <div class="row">
        <div class="col text-center">
            <h2 id="title">@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">

        <div class="col text-end p-1">
            @if (Model.searchByTag != null)
            {
                <span>Search Tags: </span>
                <span id="searchByTag" class="chip" data-coreui-chip data-coreui-removable="true">@Model.searchByTag</span>
            }
            else if (Model.searchByAuthor != null)
            {
                <span>Search Tags: </span>
                <span id="searchByAuthor" class="chip" data-coreui-chip data-coreui-removable="true">@Model.searchByAuthor</span>
            }
        </div>
    </div>
    <hr />
    @foreach (PersonalWebsite.Models.blogEntryVM blogEntry in Model.blogEntries)
    {
        <div class="row">
            <div class="col">
                <h4>
                    @Html.Label(blogEntry.blogEntryTitle, new { @class = "form-label" })
                    @if ((Session["UserId"] != null && (int)Session["UserId"] == blogEntry.authorId) || (Session["IsAdmin"] != null && (bool)Session["IsAdmin"] == true))
                    {
                        <button type="button" class="btn btn-primary loginButton bi bi-pencil-fill" title="Edit Blog Entry" onclick="editEntry(@blogEntry.id)"></button>
                        <button type="button" class="btn btn-primary loginButton bi bi-trash" title="Delete Blog Entry" onclick="deleteEntry(@blogEntry.id)"></button>
                    }
                </h4>
                
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <p style="white-space: pre-line">@blogEntry.blogEntryContent</p>
            </div>
        </div>
        <div class="row">
            <div class="col chipTagContainer">

                <span>Tags: </span>
                @foreach (PersonalWebsite.Models.tagsVM tags in blogEntry.tags)
                {
                    <span class="chip" data-coreui-chip data-coreui-selectable="true">@tags.tag</span>
                }
            </div>
            <div class="col text-end">
                <a href="@Url.Action("SearchByAuthor", "Blog", new { authorId = blogEntry.authorId })">@blogEntry.author</a><span> - @blogEntry.creationDate</span>
            </div>
        </div>
        <hr />
    }
<div class="row">
    @if (Session["UserId"] != null && (int)Session["UserId"] > 0)
    {
    <div class="col text-start">
        @using (Html.BeginForm("AddBlogEntry", "Blog", FormMethod.Post, new { enctype = "multipart/form-data", id = "blogEntryForm" }))
        {
            @Html.AntiForgeryToken()
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary bi bi-plus-lg" data-coreui-toggle="modal" data-coreui-target="#blogEntry">
                Create Blog Entry
            </button>

            <!-- Modal -->
            <div class="modal fade" id="blogEntry" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="blogEntryLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="blogEntryLabel">Create New Blog Entry</h5>
                            <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    @Html.LabelFor(model => model.newBlogEntry.blogEntryTitle, htmlAttributes: new { @class = "form-label modal-text required" })
                                    @Html.EditorFor(model => model.newBlogEntry.blogEntryTitle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.newBlogEntry.blogEntryTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.LabelFor(model => model.newBlogEntry.blogEntryContent, htmlAttributes: new { @class = "form-label modal-text required" })
                                    @Html.TextAreaFor(model => model.newBlogEntry.blogEntryContent, new { @class = "form-control", rows = 20 })
                                    @Html.ValidationMessageFor(model => model.newBlogEntry.blogEntryContent, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.LabelFor(model => model.newBlogEntry.stringTags, htmlAttributes: new { @class = "form-label modal-text required" })
                                    <div class="mb-3">                                        
                                        <div id="blogTags" class="chip-input" data-coreui-chip-input data-coreui-name="blogTags" data-coreui-placeholder="Add tag...">                                           
                                        </div>
                                        <div class="form-text">Press Enter or comma to add a value.</div>
                                    </div>
                                    @Html.HiddenFor(model => model.newBlogEntry.stringTags, new { @id = "stringTags" })
                                    @Html.ValidationMessageFor(model => model.newBlogEntry.stringTags, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
                            <button type="submit" onclick="doPreprocessing();" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    <div class="col text-end">
        @for (int i = 1; i <= Model.numPages; i++)
        {
            if (i == Model.pageNumber)
            {
                <button type="button" class="btn btn-secondary disabled" onclick="changePages(@i)">@i</button>
            }
            else
            {
                <button type="button" class="btn btn-primary" onclick="changePages(@i)">@i</button>
            }
        }
    </div>
</div>
</main>